extends ../layout

mixin createHrefBtn(name, href, isDisabled)
	if isDisabled
		a.btn.btn-default.href-btn(role="button", disabled)
			=name
	else
		a.btn.btn-default.href-btn(href=href role="button")
			=name
	
block css
	link(rel='stylesheet', href='/stylesheets/product-list.css')

block content
	table.table.table-striped.table-bordered
		//- gid pid needNum buyNum status luckyId luckyUserId remainIds startDate limitDate finalDate
		thred
			tr
				th gid
				th pid
				th 数量
				th 状态
				th 幸运号码用户
				th 开始日期/结束日期
				th 截止日期
		tbody
			- var listNum = 0
			- if (periodList)
				each periodInfo in periodList
					- listNum += 1
					- var gid = periodInfo.gid
					- var luckyId = periodInfo.luckyId
					- var status = periodInfo.status
					tr.product-panel(gid=gid)
						th=periodInfo.pid
						th
							a(href='/product/edit?gid=' + gid)=gid
						th=periodInfo.buyNum + '/' + periodInfo.needNum
						th
							if (status == 1)
								label="可购买"
							else if (status == 2)
								label="即将揭晓"
							else if (status == 3)
								label="已经揭晓"
							else if (status == 4)
								label="失败"
							else if (status == 5)
								label="停止"
							else
								label="未知"
						th=luckyId ? luckyId + '/' + periodInfo.luckyUserId : '-'
						th=periodInfo.startDate + '/' +  (periodInfo.finalDate ? periodInfo.finalDate : '-')
						th=periodInfo.limitDate
			- for (var i = 0; i < 10 - listNum; i++)
				tr
					th
					th
					th
					th
					th
					th
					th

	.form-horizontal
		.form-group
		#page
			label.col-sm-2.control-label='当前页数' 
			p.col-sm-2.form-control-static= page + '/' + totalPageNum
			label.col-sm-2.control-label='当前商品期数总数'
			p.col-sm-2.form-control-static= totalNum
			-var lastPage = "list?page=" + (parseInt(page) - 1)
			-var nextPage = "list?page=" + (parseInt(page) + 1)
			if (page <= 1)
				-var isLastDisabled = true
			if (page >= totalPageNum)
				-var isNextDisabled = true
			+createHrefBtn('上一页', lastPage, isLastDisabled)
			+createHrefBtn('下一页', nextPage, isNextDisabled)

block scripts
	script.
