extends ../layout

mixin createHrefBtn(name, href, isDisabled)
	if isDisabled
		a.btn.btn-default.href-btn(role="button", disabled)
			=name
	else
		a.btn.btn-default.href-btn(href=href role="button")
			=name
	
block css
	link(rel='stylesheet', href='/stylesheets/product-list.css')

block content
	table.table.table-striped.table-bordered
		thred
			tr
				th 用户id
				th 用户名
				th 昵称
				th 余额
				th 头像
		tbody
			- var listNum = 0
			- if (userList)
				each userInfo in userList
					- listNum += 1
					- var userId = userInfo.userId
					tr.product-panel(userId=userId)
						th=userId
						th=userInfo.userName 
						th=userInfo.nickName
						th=userInfo.balance
						th
							if (userInfo.image)
								img(src=userInfo.image)

			- for (var i = 0; i < 10 - listNum; i++)
				tr
					th
					th
					th
					th
					th

	.form-horizontal
		.form-group
		#page
			label.col-sm-2.control-label='当前页数' 
			p.col-sm-2.form-control-static= page + '/' + totalPageNum
			label.col-sm-2.control-label='当前用户总数'
			p.col-sm-2.form-control-static= totalNum
			-var lastPage = "list?page=" + (parseInt(page) - 1)
			-var nextPage = "list?page=" + (parseInt(page) + 1)
			if (page <= 1)
				-var isLastDisabled = true
			if (page >= totalPageNum)
				-var isNextDisabled = true
			+createHrefBtn('上一页', lastPage, isLastDisabled)
			+createHrefBtn('下一页', nextPage, isNextDisabled)

block scripts
	script.
	